{% extends 'base.html' %}{% load static %}
{% block pageStyle %}
{#  <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#  <link href="{% static "css/github-markdown.css" %}" rel="stylesheet" type="text/css">#}
{#  <link href="{% static "css/testHome.css" %}" rel="stylesheet" type="text/css">#}
{#  <script src="../../../static/js/testHome.js" type="text/javascript"></script>#}
{% endblock %}

{% block title %}FrexT 全站排名{% endblock %}

{% block content %}
  <section id="testHome">
    <div class="container" name="topNav">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          {% include 'topNav.html' %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
          <ul class="nav nav-pill nav-stacked">
            <li><a href="/testList">题目列表1</a></li>
            <li><a href="/submission/{{ request.session.u_uid }}/">个人提交</a></li>
            <li><a href="/passRec/{{ request.session.u_uid }}/">个人通过</a></li>
{#            {% if request.session.role == "admin" %}#}
              {% if request.session.role != "student_0" %}
              <li><a href="/submissionAll">全站提交记录</a></li>
              <li><a href="/passRecAll">全站通过情况</a></li>
              <li><a href="/ranking">全站统计</a></li>
              {% endif %}
{#            {% endif %}#}
          </ul>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10">
          <h2>FrexT测试系统：全站排名</h2>
          <h3>公告：本系统处于测试阶段，如有问题欢迎咨询</h3>
{#          <h4>钉钉：刘剑文</h4>#}
          <h4>邮箱：jianwen_liu219@163.com</h4>
          <h3>点击表头进行排序</h3>

          <table class="table" id="rank-table">
            <thead class="thead-light">
              <tr>
                <th type="number"><button>序号</button></th>
                <th type="string"><button>用户</button></th>
                <th type="number"><button>通过题</button></th>
                <th type="number"><button>通过分数</button></th>
                <th type="string"><button>通过时间刷新</button></th>
                <th type="number"><button>总做题</button></th>
                <th type="number"><button>总分数</button></th>
                <th type="string"><button>总时间刷新</button></th>
              </tr>
            </thead>
            <tbody>
              {% for T in rankings %}
                <tr class="testDatas">
                  <td>{{ forloop.counter }}</td>
                  <td>{{ T.user }}</td>
                  <td>{{ T.passN }}</td>
                  <td>{{ T.passG }}</td>
                  <td>{{ T.passT }}</td>
                  <td>{{ T.allN }}</td>
                  <td>{{ T.allG }}</td>
                  <td>{{ T.allT }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </section>

  <script>
  
  
  $(document).ready(function () {
      var tableObject = $('#rank-table');//获取id为tableSort的table对象
        var tbHead = tableObject.children('thead');//获取table对象下的thead
        var tbHeadTh = tbHead.find('tr th');//获取thead下的tr下的th
        var tbBody = tableObject.children('tbody');//获取table对象下的tbody
        var tbBodyTr = tbBody.find('tr');//获取tbody下的tr
        var sortIndex = -1; //初始化索引
        tbHeadTh.each(function() {//遍历thead的tr下的th
            var thisIndex = tbHeadTh.index($(this));//获取th所在的列号
            //鼠标移除和聚焦的效果，不重要
            $(this).mouseover(function(){ //鼠标移开事件
                tbBodyTr.each(function(){//编列tbody下的tr
                    var tds = $(this).find("td");//获取列号为参数index的td对象集合
                    $(tds[thisIndex]).addClass("hover");
                });
            }).mouseout(function(){ //鼠标聚焦时间
                tbBodyTr.each(function(){
                    var tds = $(this).find("td");
                    $(tds[thisIndex]).removeClass("hover");
                });
            });
            console.log("asd")
            $(this).click(function() {  //鼠标点击事件
                let dataType = $(this).attr("type"); //获取当前点击列的 type
                checkColumnValue(thisIndex, dataType); //对当前点击的列进行排序 （当前索引，排序类型）
            });
        });

        //显示效果，不重要
        $("tbody tr").removeClass();//先移除tbody下tr的所有css类
        $("tbody tr").mouseover(function(){
            $(this).addClass("hover");
        }).mouseout(function(){
            $(this).removeClass("hover");
        });


        //对表格排序
        function checkColumnValue(index, type) {
            let trsValue = [];  //创建一个新的列表
            tbBodyTr.each(function() { //遍历所有的tr标签
                let tds = $(this).find('td');//查找所有的 td 标签
                //将当前的点击列 push 到一个新的列表中
                //包括 当前行的 类型、当前索引的 值，和当前行的值
                trsValue.push(type + ".separator" + $(tds[index]).html() + ".separator" + $(this).html());
                $(this).html("");//清空当前列
            });
            let len = trsValue.length;//获取所有要拍戏的列的长度
            if(index === sortIndex){
                trsValue.reverse();
            } else {
                for(let i = 0; i < len; i++){//遍历所有的行
                    type = trsValue[i].split(".separator")[0];// 获取要排序的类型
                    for(let j = i + 1; j < len; j++){
                        let value1 = trsValue[i].split(".separator")[1];//当前值
                        let value2 = trsValue[j].split(".separator")[1];//当前值的下一个
                        if(type === "number"){
                            //js 三元运算  如果 values1 等于 '' （空） 那么，该值就为0，否则 改值为当前值
                            value1 = value1 == "" ? 0 : value1;
                            value2 = value2 == "" ? 0 : value2;
                            //parseFloat() 函数可解析一个字符串，并返回一个浮点数。
                            //该函数指定字符串中的首个字符是否是数字。如果是，则对字符串进行解析，直到到达数字的末端为止，然后以数字返回该数字，而不是作为字符串。
                            //如果字符串的第一个字符不能被转换为数字，那么 parseFloat() 会返回 NaN。
                            if(parseFloat(value1) > parseFloat(value2)){//如果当前值 大于 下一个值
                                let temp = trsValue[j];//那么就记住 大 的那个值
                                trsValue[j] = trsValue[i];
                                trsValue[i] = temp;
                            }
                        } else {
                            //JavaScript localeCompare() 方法 用本地特定的顺序来比较两个字符串。
                            //说明比较结果的数字。
                            // 如果 stringObject 小于 target，则 localeCompare() 返回小于 0 的数。
                            // 如果 stringObject 大于 target，则该方法返回大于 0 的数。
                            // 如果两个字符串相等，或根据本地排序规则没有区别，该方法返回 0。
                            if (value1.localeCompare(value2) > 0) {//该方法不兼容谷歌浏览器
                                let temp = trsValue[j];
                                trsValue[j] = trsValue[i];
                                trsValue[i] = temp;
                            }
                        }
                    }
                }
            }
            for(let i = 0; i < len; i++){
                //将排序完的 值 插入到 表格中
                //:eq(index) 匹配一个给定索引值的元素
                $("tbody tr:eq(" + i + ")").html(trsValue[i].split(".separator")[2]);
                //console.log($("tbody tr:eq(" + i + ")").html())
            }
            sortIndex = index;
        }
  })
  
  
  
    var testDatas = document.getElementsByClassName("testDatas");
    for(let i = 0; i<testDatas.length; i++){
        if(testDatas[i].children[3].innerHTML === "1"){
            testDatas[i].children[3].innerHTML = "组合电路";
        } else if(testDatas[i].children[3].innerHTML === "2"){
            testDatas[i].children[3].innerHTML = "时序电路";
        } else if(testDatas[i].children[3].innerHTML === "3"){
            testDatas[i].children[3].innerHTML = "系统综合";
        }
    }
  </script>
{% endblock %}